name: Continuous Testing
on:
  pull_request:
    branches: [ master, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:10.16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: gaap
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      # Downloads a copy of the code in your repository before running CI tests
        - name: Check out repository code
          uses: actions/checkout@master
        - name: Init node
          uses: actions/setup-node@master
          with:
            node-version: 14.16.0
        - name: Copy .env
          run: cp .env.example .env
        - name: Install dependencies
          run: npm ci
        - name: Build JS
          run: npm run build
        - name: Run Migrations
          run: npm run migration-run
        - name: Load initial data
          run: npm run load-initial-data
        - name: Load test data
          run: npm run load-test-data
        - name: Run Source Code Tests
          run: npm run test-src
        - name: Run Source ORM Tests
          run: npm run test-orm